* {
    margin:0;
    padding:0;
    box-sizing: border-box;

}

p {
    display: inline;
    margin:0;
    color: blue;
}

.table {
    background-color: green;
}

.table-row {
    display: grid;
    grid-template-columns: 20% 20% 20% 20%;
    gap: 2px;
    margin-bottom: 2px;
}

.cell {
    background-color: rgb(218, 218, 127);
}